body {
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.widget {
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 10px;
    background-color: rgb(124, 192, 209);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.boll {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(91, 253, 126);
    position: absolute;
    z-index: 1000;
}