#description{
    background-color: #ffdf5f;
}

#face{
    background-color: #d8e6ef;
}

#facePhoto{
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 10px;
}

#projects{
    background-color: aquamarine;
}