body {
    background-color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.left {
    background-color: #d8e6ef;
}

.right {
    background-color: #ffdf5f;
}

.avatar {
    height: fit-content;
    border-radius: 50%;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    margin: 5px;
}