body {
    background-color: #ffffff;
}

.left {
    background-color: #d8e6ef;
}

.right {
    background-color: #ffdf5f;
}

.avatar {
    height: fit-content;
    border-radius: 50%;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    margin: 5px;
}

.game {
    background-color: #acee7f;
    display: grid;
    place-items: center;
}

#repit {
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #cecece;
}