body {
    background-color: #ffffff;
}

.left {
    background-color: #d8e6ef;
}

.right {
    background-color: #ffdf5f;
}

.avatar {
    height: fit-content;
    border-radius: 50%;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.game {
    background-color: #acee7f;
}