body {
    background-image: url(image/background.jpg);
}

.main {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px;
    border-radius: 10px;
}

.avatar {
    height: fit-content;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
}

.message {
    background-color: rgb(255 255 255);
    border-radius: 10px;
    border-color: rgb(213, 213, 213);
    border-width: 2px;
}

.exp_txt {
    line-height: 1em;
}

.links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: fixed;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 10px;
    border-radius: 10px 10px 10px 10px;
    z-index: 100;
}
